# Descriptive Statistics

## Imports

In [1]:
# Import relevant Python libraries.

import pandas as pd
import numpy as np

In [2]:
# Load data from the .csv file into a DataFrame and save in a variable.

epa_data = pd.read_csv(r"C:\Users\Lahari Reddy\Desktop\GoogleDA\Statistics\c2_epa_air_quality.csv", index_col = 0)

## Data Exploration

In [3]:
# Display first 10 rows of the data.
epa_data.head(10)

,state_name,county_code,county_name,aqi,state_code_int,county_code_int
state_code,,,,,,
4,Arizona,13,Maricopa,18.0,4,13
4,Arizona,13,Maricopa,9.0,4,13
4,Arizona,19,Pima,20.0,4,19
6,California,1,Alameda,11.0,6,1
6,California,7,Butte,6.0,6,7
6,California,19,Fresno,11.0,6,19
6,California,29,Kern,7.0,6,29
6,California,29,Kern,3.0,6,29
6,California,29,Kern,7.0,6,29
6,California,37,Los Angeles,13.0,6,37

In [4]:
# Get descriptive stats.
epa_data.describe()

       county_code          aqi  state_code_int  county_code_int
count  1725.000000  1725.000000     1725.000000      1725.000000
mean     83.939130    11.034783       26.595942        83.939130
std     118.027324    10.385993       18.702416       118.027324
min       1.000000     0.000000        1.000000         1.000000
25%      20.000000     5.000000        6.000000        20.000000
50%      55.000000     8.000000       26.000000        55.000000
75%     101.000000    15.000000       42.000000       101.000000
max     810.000000    93.000000       80.000000       810.000000

## Descriptive Statistics

In [5]:
# Get descriptive stats about the states in the data.
epa_data["state_name"].describe()

count           1725
unique            42
top       California
freq             342
Name: state_name, dtype: object

# Results and Evaluation

In [6]:
# Compute the mean value from the aqi column.
np.mean(epa_data["aqi"])

11.034782608695652

In [7]:
# Compute the median value from the aqi column.

np.median(epa_data["aqi"])

8.0

In [8]:
# Identify the minimum value from the aqi column.

np.min(epa_data["aqi"])

0.0

In [9]:
# Identify the maximum value from the aqi column.

np.max(epa_data["aqi"])

93.0

In [10]:
# Compute the standard deviation for the aqi column.

np.std(epa_data["aqi"], ddof=1)

10.385993408140687